<div class="d-flex">
    <div class="text-center">
        <div class="row">
            <h4 class="fw-bold text-color-contact">About Us</h4>
            <hr />
            <h2 class="mt-5 text-color-contact">WHAT WE DO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate, magna eget pharetra fringilla,
                ligula
                lorem finibus lectus, quis porttitor libero purus a lectus.
                Aenean accumsan sem justo, nec malesuada elit interdum id. Nulla ac dolor dictum, porttitor magna eu,
                egestas orci. Praesent eu sagittis urna. Phasellus odio metus, efficitur non odio non,
                suscipit finibus quam. Proin aliquet ornare enim ac finibus. Nulla et pharetra sapien. Vestibulum nec
                nibh
                viverra, imperdiet elit at, blandit ligula. Sed tincidunt cursus lorem,
                vel tempus metus facilisis eget. Ut pulvinar orci vel tempor mattis. Vivamus hendrerit aliquet eros non
                blandit. Phasellus rhoncus venenatis dolor ac varius. Integer sollicitudin congue nunc,
                a sollicitudin lectus varius fringilla. Etiam non scelerisque orci, eu feugiat nunc. Vivamus hendrerit
                tellus ut augue condimentum pharetra.
                Ut eget lectus nec justo consequat semper. Pellentesque eget felis pulvinar erat convallis tincidunt at
                at
                massa. Maecenas ut semper ipsum. Fusce cursus pellentesque ex,
                tincidunt lacinia erat fringilla nec. Pellentesque velit leo, tempor eget metus et, cursus pharetra leo.
                Etiam ante ligula, ullamcorper ac gravida et, varius eget nulla.
                Aliquam ac auctor est. Praesent rhoncus neque sit amet accumsan tincidunt. Aliquam eu sagittis est.
                Nullam
                maximus pulvinar justo, eu aliquet justo congue eu. Praesent et dui ut ipsum convallis eleifend sed at
                nisi.
                Mauris eleifend maximus tempor. Quisque in felis a metus dignissim semper ac id est. Proin hendrerit
                mollis
                justo, non dictum tortor cursus at. Cras massa nisl,
                mattis in fermentum sed, sagittis vitae purus. Ut ut accumsan ligula. Praesent urna leo, consequat sit
                amet
                dui ac, iaculis sagittis enim. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Cras faucibus eleifend arcu, in auctor turpis placerat quis. Ut neque diam,
                dapibus
                faucibus eros nec, hendrerit egestas augue. Suspendisse ut facilisis diam. Donec id commodo nunc.
                Pellentesque congue nisl augue, in convallis sapien mattis at. In at rutrum felis.</p>
            <h2 class="mt-5 text-color-contact">OUR STORY</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate, magna eget pharetra fringilla,
                ligula
                lorem finibus lectus, quis porttitor libero purus a lectus.
                Aenean accumsan sem justo, nec malesuada elit interdum id. Nulla ac dolor dictum, porttitor magna eu,
                egestas orci. Praesent eu sagittis urna. Phasellus odio metus, efficitur non odio non,
                suscipit finibus quam. Proin aliquet ornare enim ac finibus. Nulla et pharetra sapien. Vestibulum nec
                nibh
                viverra, imperdiet elit at, blandit ligula. Sed tincidunt cursus lorem,
                vel tempus metus facilisis eget. Ut pulvinar orci vel tempor mattis. Vivamus hendrerit aliquet eros non
                blandit. Phasellus rhoncus venenatis dolor ac varius. Integer sollicitudin congue nunc,
                a sollicitudin lectus varius fringilla. Etiam non scelerisque orci, eu feugiat nunc. Vivamus hendrerit
                tellus ut augue condimentum pharetra.
                Ut eget lectus nec justo consequat semper. Pellentesque eget felis pulvinar erat convallis tincidunt at
                at
                massa. Maecenas ut semper ipsum. </p>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h5 class="mt-5 text-color-contact">OUR PEOPLE</h5>
                <h3 class="text-color-contact">Creating a community for impact</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate, magna eget pharetra
                    fringilla,
                    ligula
                    lorem finibus lectus, quis porttitor libero purus a lectus.
                    Aenean accumsan sem justo, nec malesuada elit interdum id. Nulla ac dolor dictum, porttitor magna
                    eu,
                    egestas orci. Praesent eu sagittis urna. Phasellus odio metus, efficitur non odio non,
                    suscipit finibus quam. Proin aliquet ornare enim ac finibus. Nulla et pharetra sapien. Vestibulum
                    nec
                    nibh
                    viverra, imperdiet elit at, blandit ligula.</p>

            </div>

            <div class="col-lg-3">
                <div class="mt-5">
                    <img src="assets/img/about/about-community.jpg" class="img-thumbnail" alt="">
                </div>
            </div>

        </div>
    </div>
</div>