<div class="d-flex">
    <div>
        <h4 class="fw-bold text-color-contact">Contact Us</h4>
        <hr />

        <h5 class="mt-5 text-color-contact">Who We Are</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum, explicabo provident placeat libero
            perspiciatis vero ullam doloribus culpa eligendi.</p>

        <h5 class="mt-2 text-color-contact">Our Mission</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum.</p>

        <h5 class="mt-2 text-color-contact">Our Vision</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum.</p>
        <h5 class="mt-2 text-color-contact">Hospital</h5>
        <div>
            <p class="font-weight-light">1-xxx-XXX-XXX</p>
            <p class="font-weight-light">xxx-XXX-XXXX</p>
            <p class="font-weight-light">xxx SW XXth Avenue</p>
            <p class="font-weight-light">Miami, FL XXXXX</p>
            <p class="font-weight-light">Fax: xxx-XXX-XXXX</p>
            <p class="font-weight-light">Admissions: xxx-XXX-XXXX, ext. xxxx</p>
            <p class="font-weight-light">Laboratory: xxx-XXX-XXXX, ext. xxxx</p>
            <p class="font-weight-light">Radiology: xxx-XXX-XXXX, ext. xxxx</p>
            <p class="font-weight-light">Medical records: xxx-XXX-XXXX, ext. xxxx</p>
            <p class="font-weight-light">Billing: xxx-XXX-XXXX</p>
            <p class="font-weight-light">Email: xxxxxx@gmail.com</p>
        </div>
    </div>
</div>