<section class="py-5">
    <div class="container py-5 d-flex justify-content-center align-items-center w-50">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Payment</h5>
                <p class="card-text fs-5 ">Total:</p>
                <p class="fw-semibold fs-1">${{amount}}</p>
                <p class="card-text">Please do not refresh the browser while the transaction is processing...</p>
                <div #paymentRef></div>
            </div>
        </div>
    </div>
</section>
<div class="my-5">
    <app-footer></app-footer>
</div>