<nav id="sidebarMenu" class="d-lg-block sidebar bg-white border-top border-info">
    <div class="position-sticky">
        <div class="list-group mt-4">
            <a routerLinkActive="active-side-about" routerLink="/about/contact-us"
                class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Contact us</span>
            </a>
            <a routerLinkActive="active-side-about" routerLink="/about/about-us"
                class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-lock fa-fw me-3"></i><span>About us</span></a>
        </div>
    </div>
</nav>