<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col">
      <div class="card">
        <img src="assets/img/servicios/appointment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary-emphasis">Some quick example text to build on the card</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body">
          <p class="card-text text-primary-emphasis"><i class="bi bi-telephone-fill"></i> XXX-XXX-XXXX</p>
        </div>
      </div>
    </div>
    <div class="col">
      <app-form-appointment></app-form-appointment>
    </div>
  </div>
</div>
<app-footer></app-footer>